.input-group{

    margin-bottom:20px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

}

.input-group input{

    width:100%;

    padding:13px;

    border:1px solid #d1d5db;

    border-radius:10px;

    font-size:15px;

    outline:none;

}

.input-group input:focus{

    border-color:#1E3A8A;

}